# Ignore build results
.vs/Hospital_Mangement
bin/
obj/
obj/Debug
Debug/
Models/obj


# Visual Studio 2019
*.vs
# Ignore debug-specific files
*.pdb
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache

# Ignore Visual Studio Code workspace files
.vscode/

# Ignore Rider IDE files
.idea/
.idea_modules/

# Ignore NuGet packages
*.nupkg
project.lock.json
*.nuget.props

# Ignore publish output
publish/
/Hospitl_Mangement_MVC/bin/Debug/net8.0/Hospitl_Mangement_MVC.dll
